<mat-toolbar>
  <div class="navbar-content">
    <div class="nav-link">
      <a
        routerLink="/"
        routerLinkActive="nav-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </div>
    <div class="nav-link">
      <a routerLink="/about" routerLinkActive="nav-link-active">About</a>
    </div>
    <div class="nav-link">
      <a routerLink="/work" routerLinkActive="nav-link-active">Work</a>
    </div>
    <div class="nav-link">
      <a routerLink="/notes" routerLinkActive="nav-link-active">Notes</a>
    </div>
  </div>
</mat-toolbar>
