<header class="header">
  <div class="header-content">
    <h1 class="header-content-title">Hi! I'm Torendra.</h1>
    <h1 class="header-content-title">An Engineer.</h1>
    <h4 class="header-content-desc">
      I like to break things and make them better.
    </h4>
    <mat-icon
      svgIcon="star"
      aria-hidden="false"
      aria-label="An SVG Icon of a star"
      class="header-content-icon-1"
    ></mat-icon>
    <mat-icon
      svgIcon="computer"
      aria-hidden="false"
      aria-label="An SVG Icon of a computer"
      class="header-content-icon-2"
    ></mat-icon>
  </div>
</header>

<main class="main">
  <div class="main-content">
    <mat-grid-list [cols]="columns" rowHeight="2:1" gutterSize="4rem">
      @for (tile of tileCards; track tile) { @if (columns == 1) {
      <mat-grid-tile class="main-content-tile">
        <mat-card class="main-content-card">
          <mat-card-header>
            <mat-card-title class="main-content-text">{{
              tile.title
            }}</mat-card-title>
            <mat-card-subtitle
              id="main-content-text-big"
              class="main-content-text"
              >{{ tile.subtitle }}</mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            class="main-content-card-image"
            [src]="tile.imageSrc"
            [alt]="tile.imageAlt"
          />
        </mat-card>
      </mat-grid-tile>
      } @else {
      <mat-grid-tile
        class="main-content-tile"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
      >
        <mat-card class="main-content-card">
          <mat-card-header>
            <mat-card-title class="main-content-text">{{
              tile.title
            }}</mat-card-title>
            <mat-card-subtitle
              id="main-content-text-big"
              class="main-content-text"
              >{{ tile.subtitle }}</mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            class="main-content-card-image"
            [src]="tile.imageSrc"
            [alt]="tile.imageAlt"
          />
        </mat-card>
      </mat-grid-tile>
      } }
    </mat-grid-list>
  </div>
</main>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-items">
      <h6>&copy; Torendra Rasik</h6>
    </div>
    <div class="footer-content-items">
      <ul class="mat-typography footer-contact-list">
        <li id="footer-contact-list-title" class="mat-title-large">Contact</li>
        <li class="mat-body-large">
          <a href="https://github.com/trasik"
            ><mat-icon
              svgIcon="github"
              aria-hidden="false"
              aria-label="Example thumbs up SVG icon"
            ></mat-icon
            >Github</a
          >
        </li>
        <li class="mat-body-large">
          <a href="https://www.linkedin.com/in/torendrarasik/"
            ><mat-icon
              svgIcon="linkedin"
              aria-hidden="false"
              aria-label="Example thumbs up SVG icon"
            ></mat-icon
            >Linkedin</a
          >
        </li>
        <li class="mat-body-large">
          <a href="https://x.com/DownbadT8"
            ><mat-icon
              svgIcon="x"
              aria-hidden="false"
              aria-label="Example thumbs up SVG icon"
            ></mat-icon
            >X</a
          >
        </li>
        <li class="mat-body-large">
          <a href="mailto:torendrarasik@gmail.com"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="contact_mail"
            ></mat-icon
            >Email</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
